<% @moussaillon.gossips.each do |gossip|%>
<p><%= gossip.body %></p>
<% end %>
<br>

<h2><%= link_to 'MOUSSAILLONS', moussaillons_path %></h2><br>
<h2><%= link_to 'HOME', moussaillon_gossips_path(@moussaillon) %></h2><br>
