<h1>BIENVENU SUR LE SITE DES MOUSSAILLONS DE THP</h1>
<h2>Pour te joindre à nous, il te faut effectuer une <%= link_to 'INSCRIPTION', new_moussaillon_path %></h2>
<table>
	<tr>Voici la liste des moussaillons de cette session virtuelle</tr>
	<tr>
		<td>username</td>
		<td>mail</td>
		<td>voir la bio</td>
	</tr>
</table>